@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  -webkit-font-smoothing: antialiased;
}

/* ! Utilities Classes */
header {
  padding: 0.5rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: darkslategray;
}

h1,
h2 {
  text-align: center;
}

h2 {
  text-transform: uppercase;
}

/* ! Classic Headers */
.classic,
.modern,
.creative {
  background-color: lightgray;
}

.classic-header,
.modern-header,
.creative-header {
  background-color: white;

  display: flex;
  align-items: center;

  max-width: 100%;
}

.menu-items {
  display: flex;
}

.menu-item a {
  padding: 0.5rem;
}

h3 {
  text-transform: uppercase;
}

.classic header + header,
.modern header + header,
.creative header + header {
  margin-top: 1rem;
}

.btn {
  background-color: #121212;
  color: white;

  padding: 0.3rem 0.8rem;
  border-radius: 3px;
  font-weight: bold;
}

/* ! Classic 1 */
.classic-1 {
  justify-content: space-between;
}

/* ! Classic 2 */
.classic-2 {
  justify-content: space-between;
}

.classic-2 .active {
  font-weight: bold;
}

/* ! Classic 3 */
.classic-3 .active {
  font-weight: bold;
}

/* ! Classic 4 */
.classic-4 {
  justify-content: space-between;
}

/* ! Classic 5 */
.classic-5 {
  justify-content: space-between;
}

.classic-5 .menu {
  display: flex;
}

/* ! Modern 1 */
.modern-1 {
  justify-content: center;
}

.modern-1 .menu-items {
  align-items: center;
}

/* ! Modern 2 */
.modern-2 .menu {
  width: 100%;
}

.modern-2 .menu-items {
  justify-content: space-between;
  align-items: center;
}

/* ! Modern 3 */
.modern-3 .menu {
  width: 100%;
}

.modern-3 .menu-items {
  align-items: center;
  justify-content: center;
}

/* ! Modern 4 */
.modern-4 .menu {
  width: 100%;
}

.modern-4 .menu-items {
  justify-content: center;
}

/* ! Modern 5 */
.modern-5 {
  flex-direction: column;
}

.modern-5 .menu {
  width: 100%;
}

.modern-5 .menu-items {
  justify-content: center;
}

/* ! Creative 1 */
.creative-1 {
  border-radius: 2rem;
  padding: 1rem 0.75rem;

  width: min-content;
}

.creative-1 .menu {
  display: flex;
}

.creative-1 .menu {
  position: relative;
}

.creative-1 .menu-icons {
  display: inline-flex;
  flex-direction: column;

  align-items: center;
}

.menu-icons .icon-close {
  display: none;
}

.creative-1 .menu-icons i {
  height: 2rem;
}

.creative-1 .menu-icons i:hover {
  color: rgba(0, 0, 0, 0.5);
}

.creative-1 .menu-icons i:first-of-type {
  margin-bottom: 50px;
}

.creative-1 .menu-items {
  display: none;

  margin-top: 68px;
}

.creative-1 .menu-items li {
  line-height: 200%;
}

.menu-icons.show i.icon-close {
  display: inline-block;

  position: absolute;
  top: 0;
  right: 0.5rem;
}

.menu-icons.show .icon-menu {
  display: none;
}

.menu-icons.show .icon-menu.icon-close {
  display: inline-block;

  margin-bottom: 50px;
}

.creative-1 .menu-items.show {
  display: flex;
  flex-direction: column;
}

.creative-1 i {
  font-size: 1.5rem;
}

.creative-1:hover {
  cursor: pointer;
}
